* {
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template: 1fr 1fr 1fr/ 1fr 1fr 1fr 1fr 1fr;
}

div {
  background-color: rgb(235, 86, 86);
}

.container__bluebox {
  background-color: rgb(49, 201, 228);
  grid-column: 3/3;
  grid-row: 1/4;
}

.container__yellowbox {
  background-color: rgb(255, 255, 0);
  grid-column: 4/6;
  grid-row: 2/4;
}
