* {
  box-sizing: border-box;
}

.container {
  display: grid;
  gap: 0.5rem;
}

div {
  background-color: rgb(235, 86, 86);
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: sans-serif;
  font-weight: 900;
}

.container__bluebox {
  background-color: rgb(49, 201, 228);
}

.container__yellowbox {
  background-color: rgb(255, 255, 0);
}

@media (min-width: 40em) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 60em) {
  .container {
    grid-template: 1fr 1fr 1fr/ 1fr 1fr 1fr 1fr 1fr;
  }

  .container__bluebox {
    grid-column: 3/3;
    grid-row: 1/4;
  }

  .container__yellowbox {
    grid-column: 4/6;
    grid-row: 2/4;
  }
}
